.banner {
  @include banner-position($main-banner-type);
	@include border-radius-top($border-radius-size);
	//margin: 0;
	margin: 8px 8px 0 8px;
	max-width: 100%;
	width: $content-section-width - 16px;
	//width: 100%;
}
.banner-inset {
	margin: 8px 8px 0 8px; // test style 4/6/17
	max-width: 100%;
	width: $content-section-width - 16px;
}
@if $banner-rounded-top == true {
	.banner, .banner-inset {
		@include border-radius-top($border-radius-size);
	}
}
@media only screen and (max-width: $tablet-portrait + 100) {
	.banner, .banner-inset {
		margin: 0;
	}
}
