.pretty-list {
  @include equal-v-margins(20px);
  > ul {
    list-style-type: none;
    > li {
      font-size: $font-size-base + 1;
      font-weight: $font-bold;
      line-height: $line-height-base + 6;
      @include equal-v-margins(15px);
      > ul {
        list-style-type: circle;
        > li {
          font-size: $font-size-base;
          font-weight: $font-regular;
          line-height: $line-height-base + 6;
          list-style-position: inside;
          @include equal-v-margins(5px);
          padding-left: 2em;
          text-indent: -2em;
        }
      }
    }
  }
}
@media only screen and (max-width: $tablet-portrait) {
  .pretty-list {
    ul > li > ul > li {
      padding-left: 0;
      text-indent: 0;
    }
  }
}
