// colors

// shades and tints
$black: #000 !default;
$charcoal-grey: #222 !default;
$slate-grey: #333 !default;
$sleek-grey: #555 !default;
$shale-grey: #777 !default;
$grey: #aaa !default;
$lightish-grey: #ccc !default;
$light-grey: #eee !default;
$white: #fff !default;

// greens
$lime-green: #74b024 !default;
$grass-green: #46821f !default;
$cold-dark-green: #244749 !default;
$dark-teal-green: #3f7c76 !default;
$grey-green: #546a76 !default;

// blues
$light-aqua:#65c6cc !default;
$teal: #2c80ab !default;
$royal-blue: #2c5aaa !default;
$parchment-blue:#2b66a0 !default;
$darker-parchment-blue: #225282;
$navy-blue: #1c3867 !default;
$slate-blue: #4c6a92 !default;

// purples
$periwinkle: #8da0d8 !default;
$purple: #6b2b81 !default;

// pinks
$bright-strawberry-sorbet: #ff5355 !default;

// reds
$dull-strawberry-sorbet: #993333 !default;
$blood-red: #7f2a2a !default;
$brick-red: #b52828 !default;

// oranges
$orange: #FF8000 !default;

// yellows
$golden-yellow: #ffcd33 !default;

// browns
$light-brown: #ad714d !default;
$warm-brown: #b45128 !default;
