// Theme-Agnostic Variables 'n' Stuff

// containers, &c.
$main-container-width: 80% !default;
$narrower-container-width: 66% !default;
$wider-container-width: 90% !default;
$near-full-width: 96% !default;
$full-width: 100% !default;

// nav
$navbar-height-basic: 56px !default;
